<h1 class="title is-1">Hello from view with style</h1>





<!--
<form>
    Name:<br>
    <input type="text" name="name" /><br>
    Surname:<br>
    <input type="text" name="surname" /><br>
    Birth date:<br>
    <input type="text" name="birth" /><br>
    Group:<br>
    <input type="text" name="group" /><br>

    <button>Add student</button>
</form>
-->
